[2014-01-04 15:24] mpbzh opened #1 "Use ddtraceweb/monolog-parser to parse log files"

[2014-01-04 15:27] mpbzh opened #2 "Implement config file verification (justinrainbow/json-schema)"

[2014-01-04 19:00] #1 closed, assigned to mpbzh

[2014-01-04 19:07] #2 closed, assigned to mpbzh

[2014-01-26 13:12] mpbzh opened #3 "Encrypt conifg.json for additional security"
Enrypt with user password.
Requires application to manage Sites, because config.json ist no longer human readable

[2014-04-26 03:02] stevenmusumeche opened #4 "install via composer?"
Is there a way to install your package via composer?

[2014-06-04 11:27] #4 closed, assigned to nobody

[2014-06-10 13:16] garygreen opened #5 "Support local files / Storage Adapter"
At the moment you can only reference remote URLs for log files in the config, as they are loaded by cURL. It would be good to have basic support of local log files, or even better, have a dedicated adapter interface that you can plug into for retrieving from any kind of source; local file, remote url, database, etc.

[2014-06-10 13:19] garygreen opened #6 "Fix absolute urls"
The app heavily relies on being installed in the root directory. It's generally good practice to use relative paths and routing, url helpers etc to build a url depending on the installed directory.

If you wanted to install this on your server under i.e. "http://yourserver.com/monologs/" the app would be unusable.

[2014-06-10 13:22] garygreen opened #7 "Fix automatically requesting for all logs on load"
There is no need to request for logs and check for their existence every page load. Instead, if the log is listed in the config it should be assumed it already exists and is valid -- upon requesting for it only then check and verify.

https://github.com/Syonix/monolog-viewer/blob/master/src/SyonixLogViewer/LogViewer.php#L21

[2014-07-09 19:26] mpbzh opened #8 "Add support for rotated log files"

[2014-07-09 19:34] mpbzh opened #9 "Add filters"
Add the ability to filter for log level

[2014-07-19 14:22] #6 closed, assigned to mpbzh

[2014-07-19 14:22] #7 closed, assigned to mpbzh

[2014-07-19 14:22] #9 closed, assigned to mpbzh

[2014-08-22 18:14] #3 closed, assigned to nobody

[2015-02-12 12:23] vazgen commented on #5
yeah, it would be great

[2015-02-12 12:43] garygreen commented on #5
Maybe you could use the awesome Flysystem package? https://github.com/thephpleague/flysystem

[2015-02-13 13:11] hansallis commented on #5
We are using file:// URL's for this at the moment.

[2015-04-08 15:56] msankhala opened #10 "How to use monolog with the laravel application."
Can i define a controller which access the index.php file within the Syonix/monolog-viewer package? So once after login in to my app i can check my laravel application log.

[2015-04-08 16:09] msankhala opened #11 "Request exceeded the limit of 10 internal redirects due to probable configuration error."
On a fresh install i get this error:
`error] [client ::1] Request exceeded the limit of 10 internal redirects due to probable configuration error. Use 'LimitInternalRecursion' to increase the limit if necessary. Use 'LogLevel debug' to get a backtrace.`

[2015-04-09 10:47] msankhala commented on #5
file:// protocol is not working for me it says files is empty while i can verify that file have content.

[2015-04-09 13:20] mpbzh commented on #5
In the newest version ([v3.0.0](https://github.com/Syonix/monolog-viewer/releases/tag/v3.0.0)) Flysystem is integrated.

[2015-04-09 13:20] #5 closed

[2015-04-09 13:21] mpbzh commented on #11
Please try again with the just released version [v3.0.0](https://github.com/Syonix/monolog-viewer/releases/tag/v3.0.0). Does this still occur? Did you create a config file?

[2015-04-09 13:23] mpbzh commented on #10
Just to clarify: Your goal is to handle the authentication within your laravel application so you don't have to login twice?

[2015-04-09 13:49] msankhala commented on #11
Yes i created the config file. I think this was issue with .htaccess file. I'll try v3.0.0 and let you know if i face the same issue.

[2015-04-09 13:49] #11 closed

[2015-04-09 13:55] msankhala commented on #10
Currently i can use monolog-viewer outside my laravel application to view all the logs but Can i use monolog-viewer as my dev dependency in my laravel application and view all the logs. I don't want to remove monolog-viewer authentication with my application auth. I can log twice. I want to use monolog-viewer from within my laravel application, so i can define one controller in my laravel applicat

[2015-04-09 15:42] msankhala commented on #5
I tried with v3.0.0 It say file doesn't exits:
I copied config.yml files and added my log path like this:
[code]
This files exits. I tried with creating the symlink to that file under monolog-viewer/test folder and changes the path to `/test//laravel-2015-04-09.log` but it still say file doesn't exits.

[2015-04-09 16:14] mpbzh commented on #5
In v3.0.0 the path for local files is relative to the app root directory (`APP_ROOT` constant defined in the `index.php`).
However it makes more sense to make that relative to the server's `DOCUMENT_ROOT`. Please update to v3.0.1 and update your path accordingly.

[2015-04-09 16:15] msankhala commented on #5
I figured out the issue by looking into `test.log` file. My log file is there but log are not in the following format:
`[2014-01-04 17:28:00] alert.ALERT: Random alert message {"c1":"Context1","c2":"Context2"} []
`
In log file each line must end with `[]` square otherwise monolog-viewer will not read that line.

My files have log like this:

[code]

I added square brackets `[]` at the end of few l

[2015-04-09 16:45] msankhala commented on #5
I chckout to the v3.0.1 tag. This time it show `test.log` file file does't exits.

[2015-04-09 16:53] mpbzh commented on #5
The parser that is used requires this format. However it also allows to add a custom regex pattern to match log lines, so MonologViewer could be extended to accept custom patterns as an option.

If your `text.log` file is not found, make sure you have the right path set in your `config.yml`. In which directory have you installed MonologViewer, where is your log file and how does your `config.yml`

[2015-04-09 16:58] msankhala commented on #5
My log files is outside of My server document root. I installed monolog-viewer in subdirectory of my document root. Path is `/Applications/MAMP/htdocs/tools/monolog-viewer` and My log file is located at path specified in `config.yml` file.

 My config file look like:
[code]
I Just cloned your monolog-viewer and checkout to v3.0.1 tag with `git checkout tags/v3.0.1` but monolog-viewer is not able t

[2015-04-09 17:05] mpbzh commented on #5
The log file path is relative to the MonologViewer's document root.
In your case it tries to access `/Applications/MAMP/htdocs/tools/monolog-viewer/Applications/MAMP/htdocs/work/srijan/sipi/storage/logs/laravel-2015-04-08.log` which obviously does not work.

The correct path for you should be `../../work/srijan/sipi/storage/logs/laravel-2015-04-08.log`.

[2015-04-09 17:12] msankhala commented on #5
Thanks @mpbzh. I tried with  `../../work/srijan/sipi/storage/logs/laravel-2015-04-08.log`give the error:
`LogicException in Util.php line 92:
Path is outside of the defined root, path: [../../work/srijan/sipi/storage/logs/laravel-2015-04-08.log], resolved: [../../work/srijan/sipi/storage/logs/laravel-2015-04-08.log]`

[2015-04-09 17:45] mpbzh commented on #5
This appears to be a Flysystem limitation. [v3.1.0](https://github.com/Syonix/monolog-viewer/releases/tag/v3.1.0) solves that and also adds support for custom log line patterns.

[2015-04-10 05:53] msankhala commented on #5
Thanks @mpbzh for this feature. I checkout to the `v3.1.0` and copied new `config.yml` file. But this is not showing the `test.log` and `test_no_context.log`. I didn't made any change to `config.yml`

[2015-04-10 06:41] mpbzh commented on #5
This is because now the configuration is not relative to your web root anymore, so the correct path varies for different users. You have to change the `/your/path/to/document/root` to `/Applications/MAMP/htdocs/tools/monolog-viewer` for your particular installation (assuming your installation is still in this folder).

[2015-04-10 07:22] mpbzh commented on #10
Currently the app is designed as a standalone application.
You could install it as a dev dependency and add a symlink to the `public` folder that points to  `vendor/syonix/monolog-viewer/`. But you have to update the `bootstrap.php` in the package.

In your laravel root folder run `ln -s ../vendor/syonix/monolog-viewer/ ./monolog-viewer`
Then change the following line in your `bootstrap.php` from

[2015-04-26 03:39] coldwinds opened #13 "Request: display log channels."
In monolog,  we can use log channel like this:

[code]

It would be great if the log channel could be presented in the log viewer.

[2015-04-26 14:41] mpbzh commented on #13
Thanks for your pull request, I merged it.

[2015-04-26 14:41] #13 closed

[2015-06-05 16:46] digitalm3 opened #14 "Configuring for use under nginx?"
Since nginx ignores the .htaccess files new rewrite rules are needed to function.  I've been trying to use online conversion tools but they don't appear to be able to understand them.  Would love to get this to work :)

[2015-06-05 19:31] digitalm3 commented on #14
ok after a lot of trial and error this seems to be working for me:
I added this to my /etc/nginx.conf

location /monolog-viewer {
    index index.php;
    try_files $uri $uri/ /monolog-viewer/index.php?q=;
}

[2015-06-09 18:39] mpbzh commented on #14
Try this for a more generic approach (I converted the .htaccess files using the [Winginx Converter](http://winginx.com/en/htaccess)):
[code]
In addition you can add this to secure the config directory:
[code]

However I have not tested that and neither am I experienced with nginx. If you try it, please provide feedback how it worked.

[2015-06-09 18:52] digitalm3 commented on #14
Thanks, the one I posted has been working and I did try the winginx converter but admittedly I'm not sure I implemented it right.  I will give yours a shot and let you know.

[2015-06-10 05:27] mpbzh commented on #13
I improved the display of log channels in the current release. Feel free to check it out.

[2015-07-30 11:33] edamov opened #15 "Route error after Installation"
Hi. I have such error after Installation:
`An exception has been thrown during the rendering of a template ("Unable to generate a URL for the named route "home" as such route does not exist.") in "base.html.twig" at line 134.
`

[2015-07-30 15:00] ssammut commented on #15
I had the some problem. It appears than the routes are not being defined when there is no password set yet. So I moved out all the routes defined inside the else condition in the index.php file. But even then after successfully adding a password and managing to bypass the error I still had problems trying to view the error logs and many other things. I think that this project is still in developme

[2015-08-01 13:32] mpbzh commented on #15
@edamov Please try to install the latest commit (3a72618bdb8c59b5d984fa62d54e1a29ffbd919e) from the develop branch (or apply the change manually, it's easy). Does that solve your problem?

@ssammut Yes, it is under development, however I would consider it pretty stable and use it daily myself. What problems do you experience other than the one from above? Did you set up the config file like descri

[2015-08-01 13:35] mpbzh opened #16 "Add functional tests"

[2015-08-07 09:17] FaKeller commented on #15
Hey, unfortunately I got a similar error after `composer create-project ...` and creating the `config.yml` file:

    An exception has been thrown during the rendering of a template ("Unable to generate a URL for the named route "log" as such route does not exist.") in "components/navigation.html.twig" at line 5.

Manually applying the referenced commit worked in my case. Thanks for creating the v

[2015-08-07 13:53] mpbzh commented on #15
Thanks for the confirmation that the fix works, @FaKeller. And also thanks for your feedback :)

[2015-08-07 13:53] #15 closed

[2015-08-11 16:56] amsolucionesweb opened #18 "Error after install"
After installing with the composer and configure the application I get the following error:

```Catchable fatal error: Argument 1 passed to Symfony\Bridge\Twig\Extension\SecurityExtension::__construct() must be an instance of Symfony\Component\Security\Core\SecurityContextInterface, instance of Symfony\Component\Security\Core\Authorization\AuthorizationChecker given, called in /home/user/projects/

[2015-08-11 17:28] mpbzh commented on #18
This was caused due to an outdated dependency. Can you apply the fix in eb09acb (update the version number in the ```composer.json```, run ```composer update``` and give feedback whether that has solved your problem?

[2015-08-11 17:48] amsolucionesweb commented on #18
Yes, the problem was fixed, thanks

[2015-08-11 17:49] mpbzh commented on #18
Thanks for confirming. Let me know if anything else does not work as expected.

[2015-08-11 17:49] #18 closed

[2015-08-29 14:07] Inkognitoo commented on #14
I'm running this configuration:
[code]

Its work

[2015-08-29 15:28] Inkognitoo opened #19 "Error in some .log files"
Hello! I tried to run your awesome application with the following remarkable `config.yml` file:
[code]
The application considers that `text_no_context.log` empty. ("This log file is empty")
If I copy the contents of `text.log` in `text_no_context.log`, it works.

If I change a constant `debug` to `true`, then the following conclusions:
(`/logs/demo/demo-log-file`)
[code]

(`/logs/demo/demo-log-fil

[2015-09-01 06:31] mpbzh commented on #14
Thanks for reaching out!

[2015-09-01 06:31] #14 closed

[2015-09-01 06:42] mpbzh commented on #19
The `test_no_context.log` file is a demo file for a custom log line pattern.

If you refer to the [documentation](https://github.com/Syonix/monolog-viewer#flysystem-types) you see that you can configure a custom log line pattern for log files that don't look like the Monolog standard.
So what you see is expected behavior: The log line parser does not find the expected format in the log file and th

[2015-09-02 06:24] Inkognitoo commented on #19
But your application showing me "This log file is empty" on any .log from my laravel app

And desire: will be awesome just specify path to catalog in config.yml and get all logs in this catalog.
Example:
[code]

[2015-09-02 07:13] mpbzh commented on #19
Laravel uses Monolog for writing log files, right? Can you post some example lines of the log file?

Configuring a folder is probably a good idea, I might consider that for future updates.

[2015-09-02 16:56] Inkognitoo commented on #19
@mpbzh , yes it is.
My logs: https://drive.google.com/file/d/0B42kSFhq88n0UkVtSE5mNFNXM0E/view?usp=sharing

Thanks!

[2015-10-10 11:04] amit0rana opened #20 "Adding support for %extra%"
I am using Monolog's default format: "[%datetime%] %channel%.%level_name%: %message% %context% %extra%\n"

Adding extra information using Processors (UidProcessor, IntrospectionProcessor) but this information cannot be seen in the logger. I want to log Uid and look at all logs from a specific request.

By default file is not read at all so I am using below as pattern:
pattern: /\[(?P<date>.*)\] (?

[2015-10-10 11:17] mpbzh commented on #20
Can you post an example log line?

[2015-10-10 19:14] amit0rana commented on #20
with only UidProcessor enabled:
[2015-10-11 00:28:01] stats.INFO: Time Taken : 96.797ms [] {"uid":"9f29c2d1f2"}

[2015-10-11 10:51] mpbzh commented on #20
If you need a quick solution: Have a look at the [Monolog documentation](https://github.com/Seldaek/monolog/blob/master/doc/01-usage.md#adding-extra-data-in-the-records). The other way of adding additional information is adding it to the context array:
[code]

But I could also add the `%extra%` array to the output in the same way as the context is currently added.

[2015-10-11 18:14] amit0rana commented on #20
Thanks, I read that but if I understood it correct with context we have to add it to each statement like $log->debug("message", array("uid"=>"abc) which is not so nice. I would use context more to explain the context behind the message for e.g. parameters that caused this message etc.

Also Processors write in extras.

[2015-11-12 15:51] julmot opened #23 "Group same log messages"
I am using monolog to log requests. This means, I am loggin the IP, User-Agent, URI and the time. Example:
[code]
If I view the created log-file in monolog viewer it would be great if it would group all logs with the same message. In this case, IP-adresses.

This can be also great for error messages. If you have the same error occuring for multiple users, it would be great to show the error messag

[2015-11-12 15:57] julmot opened #24 "Double slash issue"
After installing the viewer all `<link>`-URLS will appear with a double-slash:
![links_with_wrong_slash](https://cloud.githubusercontent.com/assets/8310677/11123069/55480aca-895e-11e5-9e43-58329d7b14b6.png)
This is not a big problem because browsers are intelligent enough to resolve such wrong URL. Nevertheless, it is disgusting and should be repaired

[2015-11-12 16:37] julmot commented on #20
@amit0rana How do you add this extra informations currently?

[2015-11-19 15:45] julmot opened #26 "Security issue: .htaccess only protects app/config"
The `.htaccess`-file protects the folder app/config that users can not see the UI password or where the logs are stored. However, all other files and folders, this includes:

- vendor/**
- tests/**
- src/**
- views/**

are readable and executable. This is a problem if server security means anything to you. I think the argument of this choice was:

This is right. However, imagine I can call every s

[2015-11-19 16:29] julmot opened #27 "Security issue: Firefox will block connection to viewer"
If you install the monolog-viewer on a https site, Firefox will block requests to non-https URLS. This will affect all requests starting with

The result will be a blank page.

[2015-11-19 16:32] julmot commented on #27
Take this as an request to not depent on files that aren't on the installation server. Even if the viewer would generate https-URLs and the remote server supports it, if this "syonix.ch" server is down or slow, it will affect all viewers.

[2015-11-19 16:37] julmot opened #28 "What is this channel about?"
I was searching for the dropdown menu "Channels" in the UI. However I didn't find any related documentation in monolog itself nor in this repo.

So my question is: How do you create those channels?

[2015-11-20 07:06] mpbzh commented on #28
Symfony's Framework log files for example writes the channels `request`, `auth`, `php` and `security`. To take advantage of channels, you just need to create multiple Loggers and assign the same StreamHandler to them.

Here's how you can configure them in Symfony: [Creating your own Channel](http://symfony.com/doc/current/cookbook/logging/channels_handlers.html#creating-your-own-channel).
For your

[2015-11-20 07:09] mpbzh commented on #23
This might make sense for subsequent log entries. However I don't have the time to implement this. Feel free to contribute, but make it a configurable feature.

[2015-11-20 07:27] julmot commented on #28
Thanks for this hint. This is a solution for my current workaround: log to different files. I'll give it a try! :+1:

[2015-11-20 08:04] mpbzh commented on #27
Yes this is a fair concern. Libraries like Font-Awesome and jQuery are no problem, but I first have to check the license for the font. Maybe we have to replace the font by an open one.

[2015-11-20 08:06] mpbzh commented on #28
Probably makes sense to include this in the documentation

[2015-11-20 08:08] #10 closed

[2015-11-20 13:11] JHGitty opened #29 "Library for own systems"
It would be great to have a monolog viewer which is not shipped with a full UI. I like to integrate something like this into an own system which we made with Symfony2 and a lot of different stuff. Is there any way to use this just as a library?

[2015-11-20 14:33] mpbzh commented on #29
Definitely something to consider for v5.0. Would need some refactoring to make it more loosely coupled.

For now you could just use the class `LogViewer` to get the log files and log file lines in a structured format.

But I'm keeping an eye on this for when I have more free time, makes sense to split it into a library and a pure frontend.

[2015-11-20 15:30] JHGitty commented on #29
@mpbzh Thanks! It would be awesome to have a PHP library for this. Is there any other solution for reading log files with PHP yet? Any other project? Or is this project the first one which does it in the Open-Source way?

[2015-11-20 15:57] mpbzh commented on #29
The actual parsing is done with [ddtraceweb/monolog-parser](https://github.com/ddtraceweb/monolog-parser) (which also supports custom log line formats). It returns the log lines in a structured format that "only" needs to be rendered nicely.

I don't know of any other library / application with a similar functionality as this one, that's why I started this project :wink:

[2015-11-20 16:07] JHGitty commented on #29
@mpbzh That sounds great and enough for me. I'll try some stuff in the future. Would be great if your project would provide a great library in the future - there should be an active maintainer for the "log viewer" topic.

You can close this issue if you like or let it open as reminder. :+1:

[2015-11-27 15:55] rdev5 opened #30 "Support for wildcard log paths (config.yml)?"
Having tried this already, this doesn't appear to come supported out of the box:

`path: /path/to/logs/*.log`

I anticipate moving to a database handler at some point, but for now, this feature would complement other logging modes, such as `daily`, `weekly`, etc. that break out log entries into multiple files over time.

Is there another way this is supported or just not yet?

[2015-12-04 10:11] amit0rana commented on #20
@julmot I am using Monolog Processors to auto add extra info. https://github.com/Seldaek/monolog/tree/master/src/Monolog/Processor

[2015-12-25 05:21] kittinan commented on #30
i need wildcard log paths feature too.

[2016-01-06 08:10] mpbzh commented on #30
This is not yet possible but I definitely see the need for it. Feel free to submit a PR.

[2016-01-06 08:19] mpbzh commented on #27
By the way, as an intermediate solution, cdn.syonix.ch now supports https. So you could update the include to use `https` or remove the protocol like this, so the browser can decide:
`<link href="//cdn.syonix.ch/fonts/flexo/1.0/flexo.css" rel="stylesheet" media="screen">`

For the long run I will replace the font, most likely with [Open Sans](http://www.fontsquirrel.com/fonts/open-sans)

[2016-01-11 13:21] vukanac commented on #19
May be the problem is in multiline message part?!?

How to set pattern to accept multiline message (message contains `PHP_EOL`), and new log starts only with `[<date>]`.

Any help, please!

[2016-01-11 13:37] mpbzh commented on #19
I am sorry, I never followed up this issue.

The problem is the format of your logs. The default matching pattern is for log lines that look like this:
`[2015-08-31 23:06:00] logger.LEVEL: Log message {} []`
but yours is built like this:
`[2015-08-31 23:06:00] logger.LEVEL: Log message`

You can change the log pattern like described in the [README](https://github.com/Syonix/monolog-viewer#all-type

[2016-01-11 13:37] #19 closed

[2016-01-27 14:10] mpbzh opened #34 "Add copy to clipboard button for context and extra items"

[2016-02-03 19:50] julmot commented on #27
Any news on it?

[2016-02-04 06:58] mpbzh commented on #27
Yes! If you look at the [master branch](https://github.com/Syonix/monolog-viewer/blob/master/views/base.html.twig), the only dependency still there is to the fonts (`fonts.googleapis.com`). However I am also totally rewriting the application and currently don't have too much time for it, so the next release will not arrive before later this month.

[2016-02-22 20:29] vbjordan opened #36 "mod rewrite must be enabled on apache"
You might want to add a note in your doc to specify enabling mod rewrite if you're using apache. Mine was off and the app silently fails (404) if it's not enabled.

[2016-03-02 12:39] mpbzh commented on #36
Thanks for the hint!

[2016-03-15 18:16] jorismulliez opened #37 "Don't reload the log file all the time ?"
Hi all,

Thanks for the work you've done. It work great !
I just modified "LogFile.php" to accept SFTP connection ('will send a pull request soon)

The problem for me is that getting the log file via sftp is very slow.
And each time I use filter there is a reload from source.
It will be great if the reload (perhaps just for ftp, sftp) was not automatic.

And the "force reload" will be done :
- if

[2016-03-17 20:30] mpbzh commented on #37
This is already addressed in the current master branch (although the config file is not yet updated).

The way I implemented it: There is a very primitive cache, which locally saves the log file. After a duration set in the configuration file, the cache of this file is invalidated and the file is loaded again from the server.

There also is a possibility to manually clear the cache, although it mi

[2016-03-17 20:36] #36 closed

[2016-03-17 20:50] mpbzh commented on #24
Fixed in ea8afc72

[2016-03-17 20:50] #24 closed

[2016-04-06 11:31] mpbzh commented on #29
As a side note, I am currently moving all the processing to [syonix/log-viewer-lib](https://github.com/Syonix/log-viewer-lib), so in the future you could use that to integrate the functionality into your application.

[2016-04-15 01:38] yangweijie opened #38 "don't support SFTP"
My server only has SFTP no FTP, I think it's better to have a type for SFTP which is also a popular transition way for file

[2016-04-16 12:46] mpbzh commented on #38
SFTP will be added to the next release.

[2016-04-16 19:41] #16 closed

[2016-04-18 07:05] mpbzh opened #39 "Support JSON context"
Try to decode the context as JSON. If valid, print structured.

[2016-04-21 07:55] mpbzh opened #41 "Add theming possibility"
Add the possibility to overwrite styles for custom installations

[2016-05-14 18:30] miroslavvidovic opened #42 "String class error"
There is an error when you run monolog-viewer on PHP 7 because the class in src/Syonix/Util/ uses a PHP 7 reserved word String.

[code]

[2016-05-17 16:19] nico-incubiq opened #43 "Gzipped files"
Hi,

I logrotate my monolog files, so that a few of them are gzipped.
Could it be possible to add support for gzipped logs in the viewer?

I cannot make you a pull request because of the current state of master, but here is the code I already use on my machine (from 4.0.2):

in LogFile.php:60:
        `$file = $this->filesystem->read($this->args['path']);`
        `if (pathinfo($this->args['path']

[2016-05-18 20:41] mpbzh commented on #42
This is already fixed in Commit 5da7c2a7805fad2db1bc68cf38ad1c01c0781f93.

[2016-05-18 20:41] #42 closed

[2016-05-23 06:03] rohitmbnitk commented on #38
when is the SFTP support coming out

[2016-05-23 07:48] mpbzh commented on #38
I can't give you a binding date, but the current master branch is already relatively stable and supports SFTP. Feel free to install that and provide some feedback.

[2016-05-24 10:33] rohitmbnitk commented on #38
on master branch, on defining sftp config i'm getting following error

Oops. This should not have happened.
Invalid log file type: "sftp"

[2016-05-25 08:52] mpbzh commented on #38
Can you set line 33 in your `composer.json` to the following:
[code]

And then run `composer update` and try again?

[2016-05-25 14:19] rohitmbnitk commented on #38
through sftp i'm able to access log files from user home dir

/home/<sftp user dir>/<any files on this path>

can i access files from

/var/log/ paths ????

[2016-05-25 14:32] mpbzh commented on #38
Via SFTP you can only access files below the the directory which the SFTP user has access to. I assume that is what you mean by `<sftp user dir>`. Anything above that folder, like `/var/log/` is not accessible, and we do not have any influence on this, as this is standard SFTP behavior.

You could however create a user that has access to the `/var/log/` directory, but I strongly advise you to only

[2016-05-25 17:53] rohitmbnitk commented on #38
Thank you :), also i would like to know is their any way i can grab part of file, like say last 100 lines of file through SFTP.

[2016-05-26 07:17] mpbzh commented on #38
Not that I know of, the file system adapter that we use does not seem to support that. Please let me know if you find a way!

[2016-05-28 02:48] acrozes opened #44 "Is it php7.0 compatible"
I ask the question because in travis config, php7.0 is allow_failures and in my windows install, I have a blank page for /logs route with any error messages ...

[2016-05-29 06:57] mpbzh commented on #44
I have not investigated in PHP 7 compatibility yet. However your error sounds more like a wrong configuration of the web server. What server are you using?

[2016-05-29 13:32] acrozes commented on #44
I use Apache (XAMPP for Windows 7.0.6) Not any problem with any symfony projects ...
The route /login is ok
Maybe a bug with the "windows" path of the monolog log file ?

[2016-06-06 21:11] jaywilliams commented on #20
I'm using the Monolog `IntrospectionProcessor` to include the class, file, and line of where the log file got executed, so having this information visible in the viewer would be excellent.

[2016-06-13 12:37] rakshazi commented on #27
@mpbzh same problem with HTTPS + HSTS on master branch.

[2016-06-13 13:05] mpbzh commented on #27
Which URLs are being blocked? Because the only third party dependency is Google Fonts which should not cause an issue.

[2016-06-13 13:16] rakshazi commented on #27
[code]

[2016-06-13 14:03] mpbzh commented on #27
That's not the latest master, that rather looks like the last release.

[2016-06-13 14:17] mpbzh commented on #44
Thanks for the feedback!

[2016-06-19 13:35] #44 closed

[2016-06-19 13:37] #29 closed

[2016-06-19 21:10] JHGitty commented on #29
Awesome! :+1:

[2016-06-28 18:16] henrique013 opened #45 "Passive mode was not implemented"
in class **Syonix\LogViewer\LogFile** on the line 35 the code:
`'passive' => true,`
It must be replaced by:
`'passive' => $this->args['passive'],`
Now if you pass the parameter `passive: false` in the file **config.yml** everything works as expected.

[2016-06-30 07:13] mpbzh commented on #45
Thanks for contributing! What you describe is already fixed in the current master branch (The code was moved to [syonix/log-viewer-lib](https://github.com/Syonix/log-viewer-lib/blob/master/lib/LogFileCache.php#L84)) and will be included in the next release.

[2016-06-30 07:13] #45 closed

[2016-07-13 12:37] AntoineLemaire opened #46 "Config with all files in a folder"
I have a Symfony project with rotating logs files by day.

So I got lot of files like

[code]

Is there a way actually to dynamicly read all my files without change each day my `config.yml` ?

[2016-07-13 12:38] mpbzh commented on #46
Duplicate of #30

[2016-07-13 17:13] mpbzh commented on #46
Related to #30 (sorry, was a bit too quick with closing. So you only want to show the newest one, not all of them, right?)

[2016-07-27 16:20] RavishaHesh opened #47 "PHP 7 "String" keyword usage issue"
I tried to use you app on my Ubuntu system with PHP7 and I got following error when logging into the application
`PHP Fatal error:  Cannot use Syonix\\Util\\String as String because 'String' is a special class name in /var/www/monolog-viewer/src/Syonix/LogViewer/Client.php on line 5`

I experienced this before on a different package and I found "String" is reserved keyword on PHP7

I managed to fi

[2016-07-28 07:29] mpbzh commented on #47
Thanks for contributing. However your issue has already been raised twice and is fixed since January (#31). There just was no release yet.
Feel free to download the current master branch and provide feedback, to speed up the next release.

[2016-07-28 07:29] #47 closed, assigned to nobody

[2016-08-31 15:23] Chris6284 commented on #44
Same problem under XAMPP (Apache 2.4.18 / Php 7.0.8). Blank page after login. No error messages

[2016-09-05 06:58] mpbzh opened #48 "Redirect user to login on session timeout"
If a user requests something from the API after his session has timed out, he should be redirected to the login page.

[2016-09-28 20:13] teameh commented on #26
The solution for this problem is quite simple right?
- Add a new index.php to the web folder that requires the index.php in de root folder.
- Set the web folder to be the base in your Apache / Nginx config instead of the installation directory.

[2016-09-28 20:18] teameh opened #49 "Support for PHP7"
Currently this project is not working PHP7, this is the first incompatibility i've found there are probably more:

[code]

You are planning on adding support for PHP7 ?

BTW, you might want to consider updating the README saying "MonologViewer has support for PHP 5.5 & 5.6." instead of "PHP 5.5 or higher"

[2016-10-03 11:26] turbopixel commented on #49
Same problem here ..

[2016-10-03 11:49] mpbzh commented on #49
As a good standard practice, please do a quick search before opening a new issue. This exact question [has already come up](https://github.com/Syonix/monolog-viewer/issues/47) and was addressed. There just was no new release yet.

I am currently finishing up all the changes for the new version and will release a beta release soon. Feel free to download the current master branch and provide feedbac

[2016-10-03 11:53] teameh commented on #49
Sorry. I did search, but did not found a similar issue. I'll check out the master branch. Thanks.

[2016-10-03 11:53] #49 closed, assigned to nobody

[2016-10-03 12:08] teameh commented on #26
Oh this was already done in https://github.com/Syonix/monolog-viewer/commit/12ffebd02d0ff9c6f21f6f102ad39a4f83996ba0#diff-4ac32a78649ca5bdd8e0ba38b7006a1eR13 😬

[2016-10-03 12:11] mpbzh commented on #26
Yes, this is addressed too.

By the way, the only reason this was not that way from the beginning, is that I wanted to make the tool as accessible as possible. So I did not want to exclude people who cannot set their web root to a subfolder (shared hosting).

But as it turns out, this is not a problem, so I finally added that.

[2016-10-03 12:28] teameh opened #50 "Nav hides information alert"
While testing master, I found this, see screenshot.

![image](https://cloud.githubusercontent.com/assets/1330668/19037242/8478030a-8975-11e6-94cd-41f6286a44e2.png)

[2016-10-03 12:30] mpbzh commented on #50
Thanks! I agree, alerts are a total mess in the current master branch. I'm currently working on a complete redesign of the UI, so expect this to be fixed in the next release.

[2016-10-03 12:33] teameh commented on #50
Haha okay. Just went off to fix it in https://github.com/Syonix/monolog-viewer/pull/51

[2016-10-03 13:00] teameh commented on #14
Thanks, that made it work. For future ref, my full config (php7.0-fpm) looks something like:

[code]

[2016-10-08 15:16] dennis-8 commented on #14
What if I installed Monolog-Viewer in /wwwlog directory?
How should I configure Nginx? None of these examples work.

[2016-10-28 08:42] emxjay opened #52 "Install issue (v4.0.2)"
Hi,
I'm trying to get the latest release working under a Debian machine (with Apache). I've followed the instructions closely, but I've got a 404 HTTP error right after the login screen (`/logs/login_check was not found on this server.`).

Here's my config file:

[code]

(Ofc, I have a symbolic link in `/var/www/html/` pointing to `/home/vagrant/pg/monolog-viewer/`)

Am I missing something?

[2016-11-07 13:01] #52 closed, assigned to nobody

[2016-12-20 14:06] ghost opened #53 "App breaks in PHP 7"
Monolog viewer app breaks in PHP 7+. This is because the Syonix\Util\String class is incompatible. PHP 7+ have reserved certain keywords including String, so we can no longer name classes String, Float, Bool etc..

Having never used github to contribute, I've created and uploaded a patch to this comment which renames this class and its references to StringUtil.

[php_7.patch.txt](https://github.co

[2017-01-31 15:37] C0DE8 commented on #44
Same Problem under RPi3 (Apache 2.4.10-10+deb8u7 / PHP 7.0.15-1~bpo8+1). Blank page after login. No error messages, no error log file entries.

Any suggstions?

[2017-01-31 16:28] C0DE8 commented on #53
Patch works perfect! Please change it in original code, so that the patch is not needed.

[2017-02-11 20:44] davidfindlay commented on #20
I log some JSON data, and this also doesn't appear in the log. Unfortunately makes it a bit less useful for me.

[2017-02-14 17:13] arnulfojr opened #54 "Support for Silex 2.*"
Would be awesome to have this up and running for Silex ^2.0.

Is there any plans to make an upgrade to that version?

[2017-02-21 20:17] thim81 opened #55 "PHP Fatal error: Allowed memory size of 201326592 bytes exhausted (tried to allocate 72 bytes) in"
Hi,

When I'm trying to parse a big symfony log file, I run into the memory limits.

You got any tips besides setting more PHP memory?

[2017-02-22 13:34] maguramarkian commented on #55
hi
you can use **rotating_file** type for monolog handler to crop log files to smaller parts

[2017-03-18 21:23] gigafoxweb opened #56 "project creating"
Hello, Thanks for the work you've done. It is very cool app!

I am not an experienced programmer so sorry if i mistake.

1. composer create-project make old version of app where index.php is out of web dir. So i can not use it.
2. After installing app all looks  fine except angular filter. They do not work for me. Am i alone with this problem?

Thanks

[2017-03-18 21:27] #56 closed, assigned to nobody

[2017-04-09 00:55] alanwillms commented on #19
Setting `debug` to `false` in `config.yml` solved the issue here.

[2017-04-22 07:50] albertolarah opened #57 "Support for mutilevel params"
Is possible to show multi-level params?

[2017-05-05 06:59] anishTPM commented on #30
Yes. expecting the same feature.

[2017-05-18 11:19] Mahegus commented on #53
Still not working after applying the patch.

Fatal error: Uncaught TypeError: Argument 1 passed to Symfony\Component\Debug\ExceptionHandler::handle() must be an instance of Exception, instance of Error given in /var/www/monolog/vendor/symfony/debug/ExceptionHandler.php:115 Stack trace: #0 [internal function]: Symfony\Component\Debug\ExceptionHandler->handle(Object(Error)) #1 {main} thrown in /var/

[2017-06-10 10:36] albertolarah commented on #30
any update?

[2017-09-29 12:10] dsentker commented on #44
Same problem here. xampp/windows10
blank page after login.

[2017-09-29 13:00] dsentker opened #58 "Can't login / Successful login redirects to login page"
If i enter my password on a fresh installation and click "Sign in", i get redirected to /login_check. For some reason, i cannot access /logs to view the logs, and i get redirected to /login.

The secure-folder is set with chmod 777, and everything else seems fine.

I tried it at PHP 5.6 and PHP 7.1, on Ubuntu and Windows 10.

I think there is any cookie/session problem with this viewer. Is there a

[2017-09-29 13:33] dsentker commented on #58
I found the problem: The session save path was not set correctly in php.ini. My fault.

[2017-09-29 13:33] #58 closed, assigned to nobody

[2017-10-10 06:55] mpbzh commented on #54
Sorry for the long silence. I am currently finishing the rewrite of the application featuring a better architecture and a new design.

This also includes an update of all dependencies. I'll look into Silex 2, thanks for the heads up.

[2017-10-10 06:57] mpbzh commented on #55
Please reopen the issue if rotating your logs is not an option.

[2017-10-10 06:57] #55 closed, assigned to nobody

[2017-10-10 06:58] mpbzh commented on #57
Sorry for the long silence. I am currently finishing the rewrite of the application featuring a better architecture and a new design. Support for multi-level extra information is something i'll look into. Stay tuned!

Related: #39

[2017-10-10 07:00] mpbzh commented on #53
Sorry for the long silence. I am currently finishing the rewrite of the application featuring a better architecture and a new design. I also features full PHP 7 support. Stay tuned!

(Duplicate of #44)

[2017-10-10 07:00] #53 closed, assigned to nobody

[2017-12-01 16:40] igormorse commented on #53
Any news on this code refactoring that you are doing ? Your tool is very usefull and quite unique as there isn't any other Monolog Viewer out there.

But do you have plans for releasing next year or there is not estimations for now ? @mpbzh

[2017-12-07 12:50] mpbzh commented on #53
I am planning on releasing the new version by the end of December or in January the latest. Unfortunately I cannot give you a more precise estimation, as it depends on the workload of my day job.

Have you tried installing the current master branch (rather than a specific version)? That should already be PHP7 compatible.

[2017-12-09 17:59] igormorse commented on #53
I've installed trough composer but when I was trying to make it work it just don't. Maybe you can help me telling me what I doing wrong.

I've sucefully setup the password and the YAML ( For testing purposes I using the tests logs that are in the package ).

When I submit my password in the front page to show up the main GUI nothing happens. The brownser receives **HTTP ERROR 500** and thats it.

[2017-12-10 12:00] mpbzh commented on #53
It appears that the app fails to parse your yaml and that might happen because of the custom pattern.

If you enclose it in quotes and escape all the backslashes, does it work?

[code]

[2017-12-11 05:14] igormorse commented on #53
Still doesn't work even removing all the Custom Pattern section its still giving the same error.

The only way I can interact with it again its waiting for the login section to be over or changing the **config.yml** name to something.

**config.yml**
[code]

@mpbzh

[2018-02-20 11:38] cyberdemon8 commented on #20
@davidfindlay with this pattern work for display json:
`/\[(?P<date>.*)\] (?P<logger>\w+).(?P<level>\w+): (?P<message>.*) \[(?P<context>.*)\] \{(?P<extra>.*)\}/`

[2018-03-13 18:24] catdevman opened #60 "Docker Support"
Not sure how often this is used for production but I saw and thought it would be perfect for viewing logs on our developer setup.  I love Docker and thought why not support this awesome community.
Here is the [branch](https://github.com/catdevman/monolog-viewer/tree/master) that I have working with Docker and [image](https://hub.docker.com/r/catdevman/monolog-viewer/) on Docker Hub.

I have been u

[2018-03-21 13:03] ivanstan opened #61 "Blank page on PHP 7.0"
After setting up the config and password, blank page is shown on url `/logs`

Error in PHP log: Fatal error: Cannot use Syonix\Util\String as String because 'String' is a special class name in /var/www/html/dev/log/src/Syonix/LogViewer/Client.php on line 5

I might fork to add support for PHP7

[2018-04-17 19:10] fabianocruzdf commented on #30
Nothing? Project is dead?

[2018-05-03 21:41] pppdns commented on #61
@ivanstan did you solve this? I ran into the same problem

[2018-05-04 01:10] pppdns commented on #55
hi,

I can't figure out how to get Monolog Viewer to work with rotated logs

[code]

Here we can only provide absolute URLs but Monolog creates log files in the `dev-2018-05-04.log` format when using the `rotating_file` option in Monolog, which results in file names changing every day.

Any ideas? Thanks

[2018-05-04 08:12] ivanstan commented on #61
No, unfortunately I didn't have time. Migrating to newer php version will be more than this one issue.

[2018-05-30 18:01] elliotboney commented on #61
I tried updating dependencies thinking one of them probably had a new version that supported php7, got stuck with this error for now
[code]

[2018-06-07 16:36] jlcd commented on #61
Same issue here under php's bultin server (`php -S`):

[code]

Edit:

Installed php 5.6 and `php56 -S` works as expected.

[2018-07-05 08:02] vaclavgreif commented on #61
Any update on this, please?

[2018-07-05 11:15] ivanstan commented on #61
Looks like current HEAD on master is working on php-7.1

[2018-07-18 17:55] ghost commented on #61
Any news for PHP 7.x ?
It's really a problem for apps running with the new Symfony 4.x (require PHP 7.1)...

[2018-07-19 12:26] ghost opened #62 "Missing lines with regex in message"
Lines with regex in message are not displayed...
For example, this kind of log line :

`[2018-07-19 13:53:11] app.ERROR: HttpException (400): Invalid Json schema ([access] Does not match the regex pattern ^[a-zA-Z0-9\-_]+\.[a-zA-Z0-9\-_]+\.[a-zA-Z0-9\-_]+$) in /var/www/src/Controller/DefaultController.php:142 (/var/www/src/Controller/BuiltinAuthController.php:278)`

[2018-07-19 12:54] ghost commented on #62
Workaround : specify a up to date pattern in `config.yml` (grab from [Dubture\Monolog\Parser](https://github.com/pulse00/monolog-parser/blob/master/src/Dubture/Monolog/Parser/LineLogParser.php))

`/\[(?P<date>.*)\] (?P<logger>\w+).(?P<level>\w+): (?P<message>.*[^ ]+) (?P<context>[^ ]+) (?P<extra>[^ ]+)/`

[2018-07-24 00:39] asentner opened #63 "MongoDB"
Any plans to add mongodb as a source? We are storing all of our log entries in a monolog collection and I am looking for a cleaner way to view the log entires and this looks perfect for the job.

[2018-08-15 00:06] pppdns commented on #61
@davidcancalon It works for me with PHP 7.1, what can you see in your error logs?

[2018-09-04 00:29] aleao-sl commented on #61
I solved this by changing on src/Syonix/LogViewer/Client.php the following:

On line 5
From:
use Syonix\Util\String;

To:
use Syonix\Util\String as SyonixString;

And on line 28:

From
        $this->slug = String::toAscii($name);
To:
        $this->slug = SyonixString::toAscii($name);

That's it

[2018-11-12 09:00] DazDotOne opened #64 "CORS issues with fonts"
I've managed to get an install of monolog-viewer running on a VPS I'm running.

I had to make some changes to the String class etc. butu other than that, relatively straight-forward. Thanks for the application, great work.

One thing that is now bugging me is that none of the icons are loading due to CORS. The console output is as follows:

	demo-log-file:1 Access to font at 'http://cdn.syonix.ch/

[2018-11-12 16:26] DazDotOne commented on #64
I've now configured the SSL certificate and updated the urls to make requests over HTTPS but I still get the same issues.

Any suggestions? Do you need any more info?

[2018-11-20 12:37] DazDotOne commented on #20
Just thought I'd share a gotcha that I came across:

I'm using the [introspection processor](https://github.com/Seldaek/monolog/blob/master/src/Monolog/Processor/IntrospectionProcessor.php) so I tried using a pattern to group the extra/context data

`/\[(?P<date>.*)\] (?P<logger>[\w]+).(?P<level>\w+): (?P<message>[^\[\{]+) (?P<extra>[\[\{].*[\]\}]) (?P<context>[\[\{].*[\]\}])/`

whatever I tried,

[2018-11-20 12:42] DazDotOne commented on #20
@jaywilliams it is possible to do it with a little modification to the twig file: `log.html.twig` and by using the pattern I have added above.

on line 63 (currently) in my install I have `{% if line.context|length > 0 %}` I've modified that block to look like this:

[code]
Hope this helps others.

[2018-11-21 02:49] abbaco opened #66 "More Lines button issue"
Because Syonix project looks dead, I've fixed the 'More Lines' button issue in my repo : https://github.com/abbaco/monolog-viewer

[2018-12-20 14:29] ntidev commented on #60
This would be perfect with docker! There wouldn't even be a need to worry about the PHP version.

[2019-03-29 11:58] sandrocantagallo commented on #64
CHANGE CDN URL OF FONT AWESOME AND USE STANDARD LINK
In: monolog-viewer\views\base.html.twig
line: 45
[code]

For the Flexo Font problem we must wait that  CDN provider need to enable cross-origin resource sharing (CORS). This will set the header to: Access-Control-Allow-Origin “*”

Or you can simple download the css file and download relative font and put it inside right folder.

[2019-04-19 11:48] DazDotOne commented on #64
Thanks, I went down the route of installing the fonts on the server.

[2019-04-19 11:48] #64 closed, assigned to nobody

[2019-06-18 10:53] mschrading opened #67 "searching through large logfiles"
I have some large logfiles 12 MB and 46 MB. But loading takes to much time. How can I optimice thouse files with the monolog-viewer. Is there a way to load first 1000 lines and then next 1000 or similare?

Thanks a lot

[2019-06-25 20:08] maikelreyes opened #68 "404 file error setting up behind a load balancer"

[2019-07-15 13:51] damms005 commented on #55
@pppdns Figured this out yet?

[2019-07-16 12:50] pppdns commented on #55
@damms005 no, unfortunately

[2020-01-18 22:48] bbgrk opened #69 "May I ask of this projects status? Is it dead?"
May I ask of this projects status? Is it dead?

Any updates, due to new php releases, etc?

[2020-01-27 12:28] josemanuelsouto commented on #39
Any workaround meanwhile? I need to see the JSON contents of an error.

At the moment it's invisible in the log viewer

[2021-01-08 12:09] shane-chris-barker commented on #69
Here in Jan 2021 wondering the same thing haha

[2021-01-27 02:14] lpeabody commented on #69
Also here Jan 2021, wondering the saaaaame thing... all I want is a beautiful log viewer, but this hasn't been updated in 6 years :(

[2021-01-27 06:07] MateuszManaj commented on #69
Hi Les,
i'm planning fork and huge update. Add directories, rotating logs, better regs

Matthew Manaj

[2021-01-27 17:08] lpeabody commented on #69
@MateuszManaj do you have a place where I can follow the progress for this?

[2021-01-27 20:42] MateuszManaj commented on #69
Sure, i think i will share in GitHub.
There will be many new features such as all-in-one-file, new regex, security etc. I will post info here.

[2021-03-24 00:48] lpeabody commented on #69
@MateuszManaj just wondering if you've made any progress? I'm keen on it.

[2021-06-08 12:41] shokhaa commented on #69
no news?

[2021-08-09 12:44] preeti0109 commented on #67
Hello Dear ,have u got any solution for this ?
I have also same issue.  Is there any way to load 10, or 50 GB files .
Is there any way to used pagination or load limited data first 1 min then rest of another min, please guide me also for the same.

[2021-08-19 09:59] agitnaeta commented on #69
still waiting :)

[2021-08-19 18:54] bbgrk commented on #69
Yeah forget it guys.
Use Elasticsearch or Grafana.

[2022-02-23 11:38] TriJoe commented on #69
Grafana looks like a good solution. Although unable to find any Monolog handlers for it.

[2022-06-10 18:20] maximTarleckiy opened #71 "Bulshit implementation of parsers"
Can't parse simple format:
`{"@timestamp":"2022-06-10T17:37:37.650129+00:00","@version":1,"host":"5cb36d7e116e","message":"Fatal Error: Allowed memory size of 134217728 bytes exhausted (tried to allocate 4096 bytes)","type":"default-talent-finder","channel":"php","level":"CRITICAL","monolog_level":500,"extr_":{"file":"/var/www/app/vendor/symfony/error-handler/ErrorHandler.php","line":518,"class":"